blockquote {
    background-color: rgb(32, 42, 68);
    color: white;
    font-size: 2vh;
    padding: 5%;
}

body {
    font-family: sans-serif;
    margin: 0;
}

fieldset {
    background-color: rgb(32, 42, 68);
    border: 1vh dotted silver;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    padding: 5%;
}

fieldset div {
    margin: 2%;
    text-align: center;
    width: 100%;
}

fieldset label {
    font-size: 2vh;
}

img {
    margin: 5% 0 0 0;
    max-height: 60%;
    max-width: 60%;
}

p {
    font-size: 2.5vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    text-align: center;
    width: 90%;
}

.card a {
    color:rgb(32, 42, 68);
    font-size: 2.5vh;
}

.card ul {
    list-style: none;
}

.card-title {
    background-color: rgb(148, 30, 19);
    color: white;
    font-size: 3vh;
    padding: 5%;
    width: 90%;
}

.confirmation-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-checkbox label {
    padding-right: 1vw;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    max-width: 100%;
    margin: 0 auto 10%;
}

.image-gallery img {
    width: 100%;
    max-width: 30vw;
    height: 30vh;
    object-fit: cover;
}

.image-gallery::after {
    content: "";
    width: 30vw;
}

.firstName input,
.lastName input,
.email input {
    width: 30vw;
    margin-top: 2vh;
}

.menu {
    background-color: rgb(148, 30, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu-item {
    display: inline-block;
    padding: 10px;
}

.menu-links {
    display: flex;
}

.page-title {
    margin: 5%;
    font-size: 5vh;
    text-align: center;
}

.site-header {
    text-align: center;
}

.special-requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submit {
    color: rgb(32, 42, 68);
    font-size: 1.5vh;
    width: 20vw;
    height: 5vh;
}